body {
    background: black;
}

.container{
   margin-bottom: 100px;
}

.cont1{
    margin-top: 100px;
}
div {
    color: white;
    padding-left: 50px;
}

p {
    color: white;
}

.description{
    font-size: 50px;
    color: red;
}

.mental-health {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 200px;
    margin-bottom: 200px;
}

h3 {
    color: #4cff00;
    margin-left: 50px;
}

/*a.link, a.link:visited, a.link:active {
    color: skyblue !important;
}

a.link:hover {
    color : #b6ff00 !important;
}*/

.desc a, .desc a:visited, .desc a:active {
    color: skyblue !important;
}

    .desc a:hover {
        color: #b6ff00 !important;
    }

/*a.link1, a.link1:visited, a.link1:active {
    color: skyblue !important;
}

    a.link1:hover {
        color: #b6ff00 !important;
    }*/


/* START FOOTER */

footer {
    background: linear-gradient(180deg, #151515 0%, rgba(21, 21, 21, 0.95) 51.56%, #151515 100%);
    padding: 35px 0;
}

.footer__container {
    display: flex;
    justify-content: space-around;
}

.footer__box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: white solid 1px;
    border-radius: 7px;
    padding: 13px 45px;
}

.footer__icons a i {
    color: white;
}

    .footer__icons a i:hover {
        color: blue;
    }

.footer__box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

/* END FOOTER */