
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}



/*body {
    background: black;
}*/

/*.container {
    margin-bottom: 100px;
}*/

.cont1 {
    margin-top: 100px;
}

div {
    /*color: white;*/
    padding-left: 50px;
}

/*p {
    color: white;
}*/

.description {
    font-size: 50px;
    color: red;
}

.mental-health {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 200px;
    margin-bottom: 200px;
}

/*h3 {
    color: #4cff00;
    margin-left: 50px;
}*/

/*a.link, a.link:visited, a.link:active {
    color: skyblue !important;
}

a.link:hover {
    color : #b6ff00 !important;
}*/

.desc a, .desc a:visited, .desc a:active {
    color: skyblue !important;
}

    .desc a:hover {
        color: #b6ff00 !important;
    }






/*a.link1, a.link1:visited, a.link1:active {
    color: skyblue !important;
}

    a.link1:hover {
        color: #b6ff00 !important;
    }*/


/* START MAIN */

main, footer {
    background: linear-gradient(180deg, #151515 0%, rgba(21, 21, 21, 0.95) 51.56%, #151515 100%);
}

main {
    padding-top: 88px;
}

    main p, footer p {
        color: white;
    }

.main__title-1 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 155px;
}

.main__title-2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.main__box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

    .main__box-1 img {
        max-width: 100%;
        margin-bottom: 18px;
    }

.main__box-2 {
    display: flex;
}

.main__box-3 {
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 5px #000000);
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    min-width: 200px;
    min-height: 80px;
    margin-bottom: 55px;
}

    .main__box-3 p {
        margin: 0 !important;
    }

.main__box-4 {
    border: 1px solid #8DC8AC !important;
    color: #8DC8AC;
    text-align: right;
    margin-left: 20px;
}

    .main__box-4 h4 {
        color: #8DC8AC;
    }

.main__link-1 {
    color: white;
}

    .main__link-1:hover {
        color: white;
    }

.main__text-1 {
    /*text-align: center;*/
    text-align: left !important;
    max-width: 85%;
}

.main__box-5 {
    /*margin-bottom: 227px;*/
    margin-bottom: 100px;
}

.main__box-6 {
    /*margin-bottom: 212px;*/
    margin-bottom: 100px;
}



label {
    display: block;
    /*color: white;*/
    /*background: red;*/
    margin-left: 100px;

    /*background: linear-gradient(180deg, #151515 0%, rgba(21, 21, 21, 0.95) 51.56%, #151515 100%);*/
}
/* END MAIN */




/* START FOOTER */

footer {
    background: linear-gradient(180deg, #151515 0%, rgba(21, 21, 21, 0.95) 51.56%, #151515 100%);
    padding: 35px 0;
}

.footer__container {
    display: flex;
    justify-content: space-around;
}

.footer__box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: white solid 1px;
    border-radius: 7px;
    padding: 13px 45px;
}

.footer__icons a i {
    color: white;
}

    .footer__icons a i:hover {
        color: blue;
    }

.footer__box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

/* END FOOTER */
