*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container-2{
    max-width: 480px;
    margin: 0 auto;
    padding-top: 47px ;
}

/* START HEADER */


/* START NAVIGATION */

.nav__menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row-2{
    display: flex;
    flex-direction: row-reverse;
}

.nav__menu li a{
    font-family: sans-serif;
    color: #000000;
}

.nav__menu li a:hover{
    text-decoration: underline;
}

/* END NAVIGATION */

header{
    background: #E5E5E5;
}

.header__box-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/header-background.png) no-repeat;
}

.header__title-1{
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.header__text-1{
    margin-bottom: 100px;
    max-width: 400px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000; 
}

.header__box-left{
    display: flex;
    flex-direction: column;
}

.header__box-left img{
    max-width: 100%;
    padding: 0;
    align-self: flex-end;
}

/* END HEADER */


/* START MAIN */

main{
    background: linear-gradient(180deg, #151515 0%, rgba(21, 21, 21, 0.95) 51.56%, #151515 100%);
    color: white;
}

.main__title{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;    
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
}

/* #select option{
    min-width: 300px ;
} */

.main-box{
    display: flex;
    flex-direction: column;
}

.main-box label{
    font-weight: bold;
    /* font-size: 36px;
    line-height: 42px; */
}


/* .main-box-1{
    margin-bottom: -50px;
} */

.main-box{
    margin-bottom: 30px;
} 

.main-box:last-child{
    margin-bottom: 0;
} 

.main-box-3{
    /* padding: 0 30px; */
    max-width: 400px;
}

.main-button{
    padding: 10px 31px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.main-button a{
    color: black;
    text-decoration: none;
    /* padding: 30px 33px; */
}

.main-button a:hover{
    color: blue;
    text-decoration: underline;
}

.main-box-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-box-4{
    max-width: 770px;
    margin: 70px auto 0;
    padding: 45px 45px 0;
    border-top: solid white 0.1px ;
}

.main__title-margin{
    margin-bottom: 55px;
}

.main__title-margin-1{
    margin-bottom: 65px;
}

label{
    margin-bottom: .7rem;
}


/*.iLoveHtml{
    margin: 0 0 0 100px;
}*/

input.submit-button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

    margin-left: 150px;
    margin-bottom: 50px;

    margin-top: 50px;
}

    input.submit-button:hover {
        background-color: #3e8e41
    }

    input.submit-button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

/* END MAIN */


/* START FOOTER */

footer{
    background: linear-gradient(180deg, #151515 0%, rgba(21, 21, 21, 0.95) 51.56%, #151515 100%);
    padding: 35px 0;
}

.footer__container{
    display: flex;
    justify-content: space-around;
}

.footer__box-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: white solid 1px;
    border-radius: 7px;
    padding: 13px 45px;
}

.footer__icons a i{
    color: white;
}

.fa-instagram{
    color: #8DC8AC !important;
}

.footer__icons a i:hover{
    color: blue;
}

.footer__box-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

/* END FOOTER */