* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* START HEADER */

/* START NAVIGATION */

.nav__menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .nav__menu li a {
        font-family: sans-serif;
        color: #000000;
    }

        .nav__menu li a:hover {
            text-decoration: underline;
        }

/* END NAVIGATION */

header {
    background: #E5E5E5;
}

.header__box-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/header-background.png) no-repeat;
}

    .header__box-right h4 {
        margin-bottom: 100px;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 35px;
        color: #000000;
    }

    .header__box-right h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
    }

.header__button {
    color: white;
    font-family: sans-serif;
    background: black;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 8px;
}

.header__box-left img {
    max-width: 100%;
    padding: 0;
}

/* END HEADER */
